.header__section {
  margin-bottom: 0;
  align-items: center;
  background-color: #b74233;
  height: 90px;
  display: flex;
  padding: 0 25px;

}
.header__left{
width:85%;
}
.header__right{ 
  width:45%;
  height: 100%;
}
.header__logo {
  width: 114px;
  height: 84px;
  background-image: url(/assets/iskonIcon.png);
  background-size: contain;
  float: left;
  /* margin: 5px 20px 0 62px; */
  background-repeat: no-repeat;

}

.header__title {
  color: #A7F432;
  font-size: 25px;
  margin-top: 21px;
  font-family: cursive;
  }

  .header__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    background-color: #b74233;
  }
  
  
  .header__link a {
    color: white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-family: monospace;
    font-size: 16px;
  }
  .header__link  {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .header__link a:hover:not(.active) {
   text-decoration: underline;
  }


@media only screen and (min-width: 768px) {
  .header__title {
  float: left;
  }
}
